<footer>
  <div class="footer layout1 ">
    <div class="container">
      <div class="main-footer">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-ss-12">
            <div class="widget widget-text">
              <h3 class="widgettitle">Contact information</h3>
              <div class="content">
                <h5 class="subtitle">Address</h5>
                <p class="des">#56ceo street 201 sangkat tik laork 3</p>
                <h5 class="subtitle">Phone</h5>
                <p class="des">(+885) 95477325</p>
                <h5 class="subtitle">Email</h5>
                <p class="des">user@example.com <br> user2@example.com</p>
              </div>
            </div>
            <ul class="list-socials">
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-ss-12">
            <div class="newsletter-form layout1 box-has-content">
              <div class="widget widget-newsletter">
                <h3 class="widgettitle">Newsletter</h3>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <p class="des">Get all the latest information on Events, Sales and Offers. Sign up for newsletter today.</p>
                  </div>
                  <div class="col-ts-12 col-xs-8 col-sm-12 col-md-6">
                    <div class="newsletter-block">
                      <div class="newsletter-inner">
                        <input type="text" class="newsletter-info" placeholder="Enter Your e-mail...">
                      </div>
                      <a href="#" class="submit">Subscribe</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row auto-clear">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ts-12 ">
                <div class="widget widget-custom-menu">
                  <h3 class="widgettitle">My account</h3>
                  <ul >
                    <li><a href="login.html">Sign In</a></li>
                    <li><a href="shopping-cart.html">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Helps</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ts-12 ">
                <div class="widget widget-custom-menu">
                  <h3 class="widgettitle">Information</h3>
                  <ul >
                    <li><a href="#">Delivery information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="#">Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ts-12">
                <div class="widget widget-custom-menu">
                  <h3 class="widgettitle">Customer Services</h3>
                  <ul >
                    <li><a href="#">Shipping & Returns</a></li>
                    <li><a href="#">Secure Shopping</a></li>
                    <li><a href="#"> International Shipping</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ts-12">
                <div class="widget widget-custom-menu">
                  <h3 class="widgettitle">Payment & Shipping</h3>
                  <ul >
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Shipping Guide</a></li>
                    <li><a href="#">Locations We Ship To</a></li>
                    <li><a href="#">Estimated Delivery Time</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-note">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="coppy-right" style="text-align:center !important;">
              <h3 class="content">© Copyright 2017 <span class="site-name"> Taurus Panhara</span> <span class="text">Reserved </span>All rights reserved</h3>
            </div>
          </div>
          <!-- <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 right-content">
            <ul class="list-payment">
              <li><a href="#"><img src="images/payment1.png" alt=""></a></li>
              <li><a href="#"><img src="images/payment2.png" alt=""></a></li>
              <li><a href="#"><img src="images/payment3.png" alt=""></a></li>
              <li><a href="#"><img src="images/payment4.png" alt=""></a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</footer>
<a class="back-to-top" href="#"></a>
