<header>
  <div class="header layout1 header-home2 no-prepend-box-sticky">
    <div class="topbar layout1">
      <div class="container">
        <ul class="menu-topbar">
          <li class="language menu-item-has-children">
            <a href="#" class="toggle-submenu"><span class="flag"><img src="images/flag1.jpg" alt=""></span> English</a>
            <ul class="list-language submenu">
              <li><a class="panhara-sublist" href="#"><span class="flag"><img src="images/flag2.jpg" alt=""></span> Hungary</a></li>
              <li><a class="panhara-sublist" href="#"><span class="flag"><img src="images/flag3.jpg" alt=""></span> Germany</a></li>
              <li><a class="panhara-sublist" href="#"><span class="flag"><img src="images/flag4.jpg" alt=""></span> France</a></li>
              <li><a class="panhara-sublist" href="#"><span class="flag"><img src="images/flag5.jpg" alt=""></span> Canada</a></li>
            </ul>
          </li>

        </ul>
        <ul class="list-socials">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
        </ul>
        <ul class="menu-topbar top-links">
          <li><%=link_to "register/sign in", signup_path%></li>
          <li><a href="#">Newsletter</a></li>
          <li><a href="#">Store Location</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </div>
    </div>

    <div class="main-header">
      <div class="top-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12  left-content">
              <div class="logo">
                <a href="/"><img src="images/ldi.png" alt=""></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12 midle-content">
              <div class="search-form layout1 box-has-content">
                <div class="search-block">
                  <div class="search-inner">
                    <input type="text" class="search-info" placeholder="Search...">
                  </div>
                  <div class="search-choice parent-content">
                    <select data-placeholder="All Categories" class="chosen-select">

                    </select>
                  </div>
                  <a href="#" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 right-content">
              <ul class="header-control">
                <li class="box-minicart">
                  <div class="minicart ">
                    <div class="cart-block  box-has-content">
                      <a href="shopping-cart.html" class="cart-icon"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span class="count" style="color:#f29f29;font-weight:bold;font-size:20px;">2</span></a>
                      <span class="total-price"><span class="text">Cart: </span>$700.00</span>
                    </div>
                    <div class="cart-inner">
                      <h5 class="title">You have <span class="count-item">2</span> item(s) in your cart</h5>
                      <ul class="list-item">
                        <li class="product-item">
                          <a href="#" class="thumb"><img src="images/product-2.png" alt=""  width="40" height="80"></a>
                          <div class="info">
                            <a href="detail.html" class="product-name">Watch Name...</a>
                            <div class="product-item-qty">
                              <span class="number price">
                                <span class="qty">1</span> x <span >$350.00</span>
                              </span>
                            </div>
                          </div>
                        </li>
                        <li class="product-item">
                          <a href="#" class="thumb"><img src="images/product-1.png" alt="" width="40" height="80" ></a>
                          <div class="info">
                            <a href="detail.html" class="product-name">Watch.... </a>
                            <div class="product-item-qty">
                              <span class="number price">
                                <span class="qty">1</span> x <span >$350.00</span>
                              </span>
                            </div>
                          </div>
                        </li>
                      </ul>

                      <div class="subtotal">
                        <span class="text">Total : </span>
                        <span class="total-price">$700.00</span>
                      </div>

                      <div class="form-group">
                        <a style="color:white;font-weight:bold;" class="btn btn-lg button-orange" href="shopping-cart.html">View cart</a>
                        <a style="color:white;font-weight:bold;" class="btn btn-lg button-orange" href="checkout.html">Checkout</a>
                      </div>

                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="this-sticky">
        <div class="header-nav-wapper ">
          <div class="container main-menu-wapper">
            <div class="row">
              <div class="col-lg-1 col-md-1"></div>
              <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="header-nav container-vertical-wapper">
                  <div class="header-nav-inner">
                    <div class="box-header-nav">
                      <div class=" container-wapper">
                          <a class="menu-bar mobile-navigation" href="#">
                              <!-- <span class="icon">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </span> -->
                              <span class="text"><i class="fa fa-bars fa-font-size"></i></span>
                          </a>
                        <ul id="menu-main-menu" class="main-menu clone-main-menu box-has-content" style="background:currentColor;">
                          <li class="menu-item">
                            <a href="index.html" class="kt-item-title" title="Home">HOME</a>
                          </li>

                          <li class="menu-item menu-item-has-children">
                            <a href="#" class="kt-item-title" title="Demos">Brand</a>
                            <ul class="submenu mega-menu demos-menu">
                              <li class="col-xs-12 col-sm-12 col-md-12 col-lg-15 demo-item">
                                <a href="index.html" class="demo-title"><span class="number"></span>Brand Name</a>
                                <a href="index.html"><img src="images/brand-1.png" alt=""></a>
                              </li>
                              <li class="col-xs-12 col-sm-12 col-md-12 col-lg-15 demo-item">
                                <a href="index.html" class="demo-title"><span class="number"></span>Brand Name</a>
                                <a href="index.html"><img src="images/brand-2.png" alt=""></a>
                              </li>
                              <li class="col-xs-12 col-sm-12 col-md-12 col-lg-15 demo-item">
                                <a href="index.html" class="demo-title"><span class="number"></span>Brand Name</a>
                                <a href="index.html"><img src="images/brand-3.png" alt=""></a>
                              </li>
                              <li class="col-xs-12 col-sm-12 col-md-12 col-lg-15 demo-item">
                                <a href="index.html" class="demo-title"><span class="number"></span>Brand Name</a>
                                <a href="index.html"><img src="images/brand-4.png" alt=""></a>
                              </li>
                              <li class="col-xs-12 col-sm-12 col-md-12 col-lg-15 demo-item">
                                <a href="index.html" class="demo-title"><span class="number"></span>Brand Name</a>
                                <a href="index.html"><img src="images/brand-5.png" alt=""></a>
                              </li>
                            </ul>
                          </li>

                          <li class="menu-item menu-item-has-children">
                            <a href="#" class="kt-item-title" title="PAGES">Collection</a>
                            <ul class="submenu">
                              <li><a href="#">G-Shock</a></li>
                              <li><a href="#">Tisso</a></li>
                            </ul>
                          </li>
                          <li class="menu-item"><a href="contact.html">Point Of Sale</a></li>
                          <li class="menu-item"><a href="contact.html">About US</a></li>
                          <li class="menu-item"><a href="contact.html">Social Media</a></li>
                          <li class="menu-item"><a href="contact.html">Contact US</a></li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1 col-md-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
