<div class="navbar-default sidebar" role="navigation" style="overflow: visible;">
    <div class="slimScrollDiv" style="position: relative; overflow: visible; width: auto; height: 100%;"><div class="sidebar-nav navbar-collapse slimscrollsidebar" style="overflow-x: visible; overflow-y: hidden; width: auto; height: 100%;">
        <div class="user-profile">
            <div class="dropdown user-pro-body">
              <%if admin_user_signed_in?%>
                <%if current_admin_user.image.blank?%>
                  <div>
                    <img src="/profile.png" alt="user-img" class="img-circle">
                  </div>
                <%else%>
                  <div>
                    <img src="<%=current_admin_user.image%>" alt="user-img" class="img-circle">
                  </div>
                <%end%>

                <%if current_admin_user.email.blank?%>
                  <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%="Unknown"%>
                    <span class="caret"></span>
                  </a>
                <%else%>
                  <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%=current_admin_user.username.to_s.capitalize%>
                    <span class="caret"></span>
                  </a>
                <%end%>
                <ul class="dropdown-menu animated flipInY">
                  <li>
                    <%=link_to  admin_users_path do%>
                      <i class="ti-user"></i> My Profile
                    <%end%>
                  </li>
                  <li>
                    <%=link_to admin_user_path(current_admin_user) do%>
                      <i class="ti-settings"></i> Account Setting
                    <%end%>
                  </li>

                  <li role="separator" class="divider"></li>

                  <li>
                    <%=link_to destroy_admin_user_session_path,method: :delete do%>
                      <i class="fa fa-power-off"></i> Logout
                    <%end%>
                  </li>
                </ul>
              <%else%>

              <%end%>
            </div>
        </div>
        <%= render "shared/link"%>
      </div>
      <div class="slimScrollBar" style="background: rgb(220, 220, 220) none repeat scroll 0% 0%; width: 0px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 2222px;"></div>
      <div class="slimScrollRail" style="width: 0px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
  </div>
</div>
