<ul class="nav in" id="side-menu">
    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <!-- input-group -->
        <div class="input-group custom-search-form">
            <input class="form-control" placeholder="Search..." type="text"> <span class="input-group-btn">
        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
        </span>
        </div>
        <!-- /input-group -->
    </li>

    <li>
      <%=link_to admin_dashboard_path,:class=>"waves-effect" do%>
        <i class="linea-icon linea-basic fa-fw" data-icon="v"></i>
        <span class="hide-menu">Dashboard</span>
      <%end%>
    </li>
    <%if current_admin_user.try(:admin?) || current_admin_user.try(:vip?)%>
      <li>
        <a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">User<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <%if current_admin_user.try(:admin?)  || current_admin_user.try(:vip?)%>
          <li>
            <%=link_to "Add User", new_admin_user_path%>
            <%=link_to "User List", admin_users_path%>
          </li>
          <%else%>
          <li>
            <%=link_to "Import List", users_path%>
          </li>
          <%end%>

        </ul>
      </li>
    <%end%>

    <li>
      <a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Product<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <%if current_admin_user.try(:admin?)  || current_admin_user.try(:vip?)%>
          <li>
            <%=link_to "Add Product", new_admin_product_path%>
            <%=link_to "Product List", admin_products_path%>
          </li>
        <%else%>
          <li>
            <%=link_to "Product List", admin_products_path%>
          </li>
        <%end%>
      </ul>
    </li>

    <li>
     <a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Category<span class="fa arrow"></span></a>
     <ul class="nav nav-second-level">
       <%if current_admin_user.try(:admin?)  || current_admin_user.try(:vip?)%>
         <li>
           <%=link_to "Add Category", new_admin_category_path%>
           <%=link_to "Category List", admin_categories_path%>
         </li>
       <%else%>
         <li>
           <%=link_to "Category List", admin_categories_path%>
         </li>
       <%end%>

     </ul>
   </li>

   <li>
    <a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Configuration<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <%if current_admin_user.try(:admin?)  || current_admin_user.try(:vip?)%>
        <li>
          <%=link_to "Stock Location", admin_stock_locations_path%>
        </li>
      <%else%>
      
      <%end%>

    </ul>
  </li>

</ul>
