<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <div class="top-left-part">
            <a class="logo" href="#">
              <b>
                <img src="index_data/pixeladmin-logo.png" alt="home" class="dark-logo"><img src="" alt="home" class="light-logo">
              </b>
                <span class="hidden-xs" style="display: none;">
              <img src="" alt="home" class="dark-logo"><img src="" alt="home" class="light-logo">
             </span>
            </a>
        </div>

        <ul class="nav navbar-top-links navbar-left hidden-xs">
            <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="ti-menu"></i></a></li>
        </ul>

        <ul class="nav navbar-top-links navbar-right pull-right">
            <!-- Search -->
            <!-- User Setting -->

            <li class="dropdown">
                <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i>
                    <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                </a>
                <ul class="dropdown-menu mailbox animated bounceInDown">
                    <li>

                      <div class="drop-title">
                        <%=link_to "Logout",destroy_admin_user_session_path,method: :delete%>
                      </div>

                    </li>

                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </div>

</nav>
