<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Add New Stock Location</h4>
            </div>
        </div>
        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                          <%=form_for([:admin, @stock_location]) do |f|%>
                                <div class="form-body">
                                    <h3 class="box-title">Form Stock Location</h3>
                                    <hr>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <%=f.label "Name", :class=>"control-label"%>
                                          <%=f.text_field :name, :class=>"form-control", :placeholder=>"Name"%>
                                        </div>
                                      </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Street", :class=>"control-label"%>
                                            <%=f.text_field :street, :class=>"form-control", :placeholder=>"Street"%>
                                          </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "City", :class=>"control-label"%>
                                            <%=f.text_field :city, :class=>"form-control", :placeholder=>"City"%>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Zip", :class=>"control-label"%>
                                            <%=f.text_field :zip, :class=>"form-control", :placeholder=>"Zip"%>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Phone", :class=>"control-label"%>
                                            <%=f.text_field :phone, :class=>"form-control", :placeholder=>"Phone"%>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Country", :class=>"control-label"%>
                                            <%=f.text_field :country, :class=>"form-control", :placeholder=>"Country"%>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "State", :class=>"control-label"%>
                                            <%=f.text_field :state, :class=>"form-control", :placeholder=>"State"%>
                                          </div>
                                        </div>

                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <div class="form-actions">
                                  <%=f.submit "Save", :class=>"btn btn-success" do%>
                                    <i class="fa fa-check"></i>
                                  <%end%>
                                  <%=link_to "Cancel", admin_stock_locations_path, :class=>"btn btn-default", :style=>"color:black"%>
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
