<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Stock Location</h4>
            </div>
        </div>
        <!-- Content -->
        <div class="col-sm-12">
          <div class="white-box">
            <%if admin_user_signed_in?%>
              <%if current_admin_user.try(:admin?)%>
                <%=link_to new_admin_stock_location_path, :class=>"btn btn-success waves-effect waves-light" do%>
                    <span class="btn-label"><i class="fa fa-user"></i></span>Stock Location
                <%end%>
              <%end%>
            <%end%>
              <h3 class="box-title"></h3>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <%@fields.each do |f|%>
                                <th><%=f%></th>
                              <%end%>
                          </tr>
                      </thead>
                      <tbody>
                        <%@stock_locations.each do |location|%>
                          <tr>
                            <td><%=location.id%></td>
                            <td><%=location.name%></td>
                            <td class="text-nowrap">
                              <%if current_admin_user.try(:admin?) || current_admin_user.try(:vip?)%>
                                <%=link_to admin_stock_location_path(location) do%>
                                  <i class="fa fa-eye text-inverse m-r-10"></i>
                                <%end%>
                                <%=link_to edit_admin_stock_location_path(location) do%>
                                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                                <%end%>
                                <%=link_to  admin_stock_location_path(location), method: :delete, data: { confirm: "Are You Sure ?"} do%>
                                  <i class="fa fa-close text-danger"></i>
                                <%end%>
                              <%else%>
                                <%=link_to admin_stock_location_path(location) do%>
                                  <i class="fa fa-eye text-inverse m-r-10"></i>
                                <%end%>
                              <%end%>
                            </td>
                          </tr>
                          <%end%>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
