<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title"><%=@stock_location.name%></h4>
            </div>
        </div>
        <!-- Content -->
        <div class="col-sm-12">
          <div class="white-box">
              <h3 class="box-title"></h3>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <%@fields.each do |f|%>
                                <th><%=f%></th>
                              <%end%>
                          </tr>
                      </thead>
                      <tbody>
                        <%@stock_items.each do |item|%>
                          <tr>
                            <td>
                              <%=item.product.product_name%>
                            </td>
                            <td>
                              <%=item.quantity%>
                            </td>

                          </tr>
                        <%end%>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
