<div class="main-content home-page main-content-home2">
  <div class="container-fluid" style="padding-left: 0px; padding-right:0px;">
    <div class="main-slideshow slideshow2">
      <div class="owl-carousel nav-style1 owl-background" data-autoplay="true" data-nav="true" data-dots="false" data-loop="true" data-slidespeed="800" data-margin="0"  data-responsive = '{"0":{"items":1}, "640":{"items":1}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}' data-height="400">
        <div class="slide-item item1 item-background" data-background="images/slide4.jpg">
          <div class="slide-img"><img src="images/slide-1.png" alt=""></div>
          <div class="slide-content">
            <h5 class="subtitle">Premium</h5>
            <h3 class="title">Smart Laptop</h3>
            <h5 class="smalltitle">Only: <span> $226.00</span></h5>
            <a href="#" style="color:#fff; font-weight:bold" class="btn bt-lg button-orange">Shop Now</a>
          </div>
        </div>
        <div class="slide-item item2 item-background" data-background="images/slide5.jpg">
          <div class="slide-img"><img src="images/slide-2.png" alt=""></div>
          <div class="slide-content">
            <h4 class="subtitle">Smart</h4>
            <h3 class="title">Headphone</h3>
            <h5 class="smalltitle">Starting at: <span> $126.00</span></h5>
            <a href="#" style="color:#fff; font-weight:bold" class="btn bt-lg button-orange">Shop Now</a>
          </div>
        </div>
        <div class="slide-item item3 item-background" data-background="images/slide6.jpg">
          <div class="slide-img"><img src="images/slide-3.png" alt=""></div>
          <div class="slide-content">
            <h4 class="subtitle text-main-color">Sale <span> 50% </span>OFF</h4>
            <h3 class="title">All Products</h3>
            <h5 class="smalltitle">Only: <span> $126.00</span></h5>
            <a href="#" style="color:#fff; font-weight:bold" class="btn bt-lg button-orange">Shop Now</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container" style="padding-left: 0px; padding-right:0px;">
    <div class="featrue-box-list equal-container">
      <div class="row">
        <div class="col-ss-12 col-xs-12 col-sm-4 col-md-4 col-lg-4 item">
          <div class="featrue-box layout1 equal-elem">
            <div class="block-icon"><a href="#"><span class="fa fa-truck"></span></a></div>
            <div class="block-inner">
              <a href="#" class="title">Free Shipping & Return</a>
              <p class="des">Free shipping on all oders over $100</p>
            </div>
          </div>
        </div>
        <div class="col-ss-12 col-xs-12 col-sm-4 col-md-4 col-lg-4 featrue-item">
          <div class="featrue-box layout1 equal-elem">
            <div class="block-icon"><a href="#"><span class="fa fa-retweet"></span></a></div>
            <div class="block-inner">
              <a href="#"  class="title">Money back guarantee</a>
              <p class="des">100% money back guarantee</p>
            </div>
          </div>
        </div>
        <div class="col-ss-12 col-xs-12 col-sm-4 col-md-4 col-lg-4 featrue-item">
          <div class="featrue-box layout1 equal-elem">
            <div class="block-icon"><a href="#"><span class="fa fa-life-ring"></span></a></div>
            <div class="block-inner">
              <a href="#"  class="title">Online support 24/7</a>
              <p class="des">Online support 24/7</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row box-products">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box-product-item">
          <div class="head">
            <h5 class="title">Featured</h5>
          </div>
          <div class="content">
            <div class="product-list-owl owl-carousel nav-style2 equal-container" data-autoplay="false" data-nav="true" data-dots="false" data-loop="true" data-slidespeed="800" data-margin="0"  data-responsive = '{"0":{"items":1}, "480":{"items":2,"margin":0},"700":{"items":3,"margin":-1}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}'>
              <div class="product-item layout1">
                <div class="product-inner equal-elem">
                  <div class="thumb">
                    <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                    <a href="detail.html" class="thumb-link"><img src="images/product-1.png" alt=""></a>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <ul class="list-star">
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                      <span class="count">5 Review(s)</span>
                    </div>
                    <a href="detail.html" class="product-name">Smartphone RAM 4 GB New</a>
                    <div class="price">
                      <span>$350.00</span>
                    </div>
                  </div>
                  <div class="group-button">
                    <div class="inner">
                      <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                      <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                      <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item layout1">
                <div class="product-inner equal-elem">
                  <div class="thumb">
                    <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                    <a href="detail.html" class="thumb-link"><img src="images/product-2.png" alt=""></a>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <ul class="list-star">
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                      <span class="count">5 Review(s)</span>
                    </div>
                    <a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
                    <div class="price">
                      <span>$350.00</span>
                    </div>
                  </div>
                  <div class="group-button">
                    <div class="inner">
                      <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                      <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                      <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item layout1">
                <div class="product-inner equal-elem">
                  <div class="thumb">
                    <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                    <a href="detail.html" class="thumb-link"><img src="images/product-3.png" alt=""></a>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <ul class="list-star">
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                      <span class="count">5 Review(s)</span>
                    </div>
                    <a href="detail.html" class="product-name">PC Prox 21.5-inch and 27-inch (Late 2017)</a>
                    <div class="price">
                      <span class="del">$500.00</span>
                      <span class="ins">$250.00</span>
                    </div>
                  </div>
                  <div class="group-button">
                    <div class="inner">
                      <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                      <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                      <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box-product-item">
          <div class="head">
            <h5 class="title">OnSale</h5>
          </div>
          <div class="content">
            <div class="product-list-owl owl-carousel nav-style2 equal-container" data-autoplay="false" data-nav="true" data-dots="false" data-loop="true" data-slidespeed="800" data-margin="0"  data-responsive = '{"0":{"items":1}, "480":{"items":2,"margin":0},"700":{"items":3,"margin":-1}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}'>
              <div class="product-item layout1">
                <div class="product-inner equal-elem">
                  <ul class="group-flash">
                    <li><span class="sale flash">-50%</span></li>
                  </ul>
                  <div class="thumb">
                    <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                    <a href="detail.html" class="thumb-link"><img src="images/product-2.png" alt=""></a>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <ul class="list-star">
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                      <span class="count">5 Review(s)</span>
                    </div>
                    <a href="detail.html" class="product-name">Fujifilm INSTAX Mini 8 Instant Camera (White)</a>
                    <div class="price">
                      <span class="del">$700.00</span>
                      <span class="ins">$350.00</span>
                    </div>
                  </div>
                  <div class="group-button">
                    <div class="inner">
                      <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                      <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                      <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item layout1">
                <div class="product-inner equal-elem">
                  <ul class="group-flash">
                    <li><span class="sale flash">-50%</span></li>
                  </ul>
                  <div class="thumb">
                    <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                    <a href="detail.html" class="thumb-link"><img src="images/product-3.png" alt=""></a>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <ul class="list-star">
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                      <span class="count">5 Review(s)</span>
                    </div>
                    <a href="detail.html" class="product-name">Fujifilm INSTAX Mini 8 Instant Camera (White)</a>
                    <div class="price">
                      <span class="del">$500.00</span>
                      <span class="ins">$250.00</span>
                    </div>
                  </div>
                  <div class="group-button">
                    <div class="inner">
                      <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                      <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                      <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item layout1">
                <div class="product-inner equal-elem">
                  <ul class="group-flash">
                    <li><span class="sale flash">-50%</span></li>
                  </ul>
                  <div class="thumb">
                    <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                    <a href="detail.html" class="thumb-link"><img src="images/product-1.png" alt=""></a>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <ul class="list-star">
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                      <span class="count">5 Review(s)</span>
                    </div>
                    <a href="detail.html" class="product-name">Smart Phone Ram 8Gb</a>
                    <div class="price">
                      <span class="del">$700.00</span>
                      <span class="ins">$350.00</span>
                    </div>
                  </div>
                  <div class="group-button">
                    <div class="inner">
                      <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                      <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                      <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box-product-item">
          <div class="head">
            <h5 class="title">New arrivals</h5>
          </div>
          <div class="content">
            <div class="product-list-owl owl-carousel nav-style2 equal-container" data-autoplay="false" data-nav="true" data-dots="false" data-loop="true" data-slidespeed="800" data-margin="0"  data-responsive = '{"0":{"items":1}, "480":{"items":2,"margin":0},"700":{"items":3,"margin":-1}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}'>
              <div class="product-item layout1">
                <div class="product-inner equal-elem">
                  <div class="thumb">
                    <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                    <a href="detail.html" class="thumb-link"><img src="images/product-3.png" alt=""></a>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <ul class="list-star">
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                      <span class="count">5 Review(s)</span>
                    </div>
                    <a href="detail.html" class="product-name">PC Prox 21.5-inch and 27-inch (Late 2017)</a>
                    <div class="price">
                      <span>$350.00</span>
                    </div>
                  </div>
                  <div class="group-button">
                    <div class="inner">
                      <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                      <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                      <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item layout1">
                <div class="product-inner equal-elem">
                  <div class="thumb">
                    <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                    <a href="detail.html" class="thumb-link"><img src="images/product-1.png" alt=""></a>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <ul class="list-star">
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                      <span class="count">5 Review(s)</span>
                    </div>
                    <a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
                    <div class="price">
                      <span>$350.00</span>
                    </div>
                  </div>
                  <div class="group-button">
                    <div class="inner">
                      <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                      <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                      <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item layout1">
                <div class="product-inner equal-elem">
                  <div class="thumb">
                    <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                    <a href="detail.html" class="thumb-link"><img src="images/product-2.png" alt=""></a>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <ul class="list-star">
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                      <span class="count">5 Review(s)</span>
                    </div>
                    <a href="detail.html" class="product-name">Smartphone RAM 4 GB New</a>
                    <div class="price">
                      <span>$350.00</span>
                    </div>
                  </div>
                  <div class="group-button">
                    <div class="inner">
                      <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                      <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                      <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-banner">
      <div class="col-xs-12 col-sm-5">
        <div class="banner banner-effect1">
          <a href="#"><img src="images/ads-1.png" alt=""></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7">
        <div class="banner banner-effect1">
          <a href="#"><img src="images/ads-2.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="group-product layout1">
      <div class="kt-tab nav-tab-style1">
        <div class="section-head box-has-content">
          <h4 class="section-title">Top Selling Products</h4>
          <ul class="nav list-nav">
            <li class="active"><a data-animated="fadeInLeft" data-toggle="pill" href="#tab1">ALL</a></li>
            <li><a data-animated="fadeIn" data-toggle="pill" href="#tab2">TV & Audio</a></li>
            <li><a data-animated="pulse" data-toggle="pill" href="#tab1">Laptop </a></li>
            <li><a data-animated=" lightSpeedIn" data-toggle="pill" href="#tab2">Accessories </a></li>
          </ul>
        </div>
        <div class="section-content">
          <div class="tab-content">
            <div id="tab1" class="tab-panel active">
              <div class="owl-carousel product-list-owl nav-style2 equal-container" data-autoplay="false" data-nav="true" data-dots="false" data-loop="false" data-slidespeed="800" data-margin="0"  data-responsive = '{"0":{"items":1}, "480":{"items":2,"margin":0}, "700":{"items":3,"margin":-1}, "992":{"items":4}, "1200":{"items":5}}'>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-1.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
                        <div class="price">
                          <span>$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="new flash">NEW</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Smartphone RAM 4 GB New</a>
                        <div class="price">
                          <span >$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="sale flash">-50%</span></li>
                        <li><span class="best flash">Bestseller</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-3.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Fujifilm INSTAX Mini 8 Instant Camera (White)</a>
                        <div class="price">
                          <span class="del">$700.00</span>
                          <span class="ins">$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-4.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">PC Prox 21.5-inch and 27-inch (Late 2017) reviews</a>
                        <div class="price">
                          <span >$550.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="sale flash">-50%</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-4.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Best Accessories- SteelSeries NIMBUS Controlle</a>
                        <div class="price">
                          <span class="del">$500.00</span>
                          <span class="ins">$250.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Headphone </a>
                        <div class="price">
                          <span >$450.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-3.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
                        <div class="price">
                          <span>$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="new flash">NEW</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-1.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Smartphone RAM 4 GB New</a>
                        <div class="price">
                          <span >$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
                        <div class="price">
                          <span>$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="new flash">NEW</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-1.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Smartphone RAM 4 GB New</a>
                        <div class="price">
                          <span >$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="sale flash">-50%</span></li>
                        <li><span class="best flash">Bestseller</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Fujifilm INSTAX Mini 8 Instant Camera (White)</a>
                        <div class="price">
                          <span class="del">$700.00</span>
                          <span class="ins">$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-4.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">PC Prox 21.5-inch and 27-inch (Late 2017) reviews</a>
                        <div class="price">
                          <span >$550.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab2" class="tab-panel">
              <div class="owl-carousel product-list-owl nav-style2 equal-container" data-autoplay="false" data-nav="true" data-dots="false" data-loop="false" data-slidespeed="800" data-margin="0"  data-responsive = '{"0":{"items":1}, "480":{"items":2,"margin":0}, "700":{"items":3,"margin":-1}, "992":{"items":4}, "1200":{"items":5}}'>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
                        <div class="price">
                          <span>$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="new flash">NEW</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-4.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Smartphone RAM 4 GB New</a>
                        <div class="price">
                          <span >$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="sale flash">-50%</span></li>
                        <li><span class="best flash">Bestseller</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-3.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Fujifilm INSTAX Mini 8 Instant Camera (White)</a>
                        <div class="price">
                          <span class="del">$700.00</span>
                          <span class="ins">$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-4.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">PC Prox 21.5-inch and 27-inch (Late 2017) reviews</a>
                        <div class="price">
                          <span >$550.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="sale flash">-50%</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Best Accessories- SteelSeries NIMBUS Controlle</a>
                        <div class="price">
                          <span class="del">$500.00</span>
                          <span class="ins">$250.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-1.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Headphone </a>
                        <div class="price">
                          <span >$450.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-4.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
                        <div class="price">
                          <span>$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="new flash">NEW</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Smartphone RAM 4 GB New</a>
                        <div class="price">
                          <span >$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-item">
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-1.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
                        <div class="price">
                          <span>$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-item layout1">
                    <div class="product-inner equal-elem">
                      <ul class="group-flash">
                        <li><span class="new flash">NEW</span></li>
                      </ul>
                      <div class="thumb">
                        <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                        <a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
                      </div>
                      <div class="info">
                        <a href="detail.html" class="product-name">Smartphone RAM 4 GB New</a>
                        <div class="price">
                          <span >$350.00</span>
                        </div>
                      </div>
                      <div class="group-button">
                        <div class="inner">
                          <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                          <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                          <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="products-view">
    <div class="container">
      <div class="section-head box-has-content">
        <h4 class="section-title">Most Viewed Products</h4>
      </div>
      <div class="section-content">
        <div class="owl-carousel product-list-owl nav-style2 equal-container" data-autoplay="false" data-nav="true" data-dots="false" data-loop="false" data-slidespeed="800" data-margin="0"  data-responsive = '{"0":{"items":1}, "480":{"items":2,"margin":0}, "700":{"items":3,"margin":-1}, "992":{"items":4}, "1200":{"items":4}}'>
            <div class="product-item layout1">
            <div class="product-inner equal-elem">
              <div class="thumb">
                <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                <a href="detail.html" class="thumb-link"><img src="images/sell-product-4.png" alt=""></a>
              </div>
              <div class="info">
                <a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
                <div class="price">
                  <span>$350.00</span>
                </div>
              </div>
              <div class="group-button">
                <div class="inner">
                  <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                  <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                  <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item layout1">
            <div class="product-inner equal-elem">
              <ul class="group-flash">
                <li><span class="new flash">NEW</span></li>
              </ul>
              <div class="thumb">
                <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                <a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
              </div>
              <div class="info">
                <a href="detail.html" class="product-name">Smartphone RAM 4 GB New</a>
                <div class="price">
                  <span >$350.00</span>
                </div>
              </div>
              <div class="group-button">
                <div class="inner">
                <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item layout1">
            <div class="product-inner equal-elem">
              <ul class="group-flash">
                <li><span class="sale flash">-50%</span></li>
                <li><span class="best flash">Bestseller</span></li>
              </ul>
              <div class="thumb">
                <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                <a href="detail.html" class="thumb-link"><img src="images/sell-product-1.png" alt=""></a>
              </div>
              <div class="info">
                <a href="detail.html" class="product-name">Fujifilm INSTAX Mini 8 Instant Camera (White)</a>
                <div class="price">
                  <span class="del">$700.00</span>
                  <span class="ins">$350.00</span>
                </div>
              </div>
              <div class="group-button">
                <div class="inner">
                <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item layout1">
            <div class="product-inner equal-elem">
              <div class="thumb">
                <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                <a href="detail.html" class="thumb-link"><img src="images/sell-product-3.png" alt=""></a>
              </div>
              <div class="info">
                <a href="detail.html" class="product-name">PC Prox 21.5-inch and 27-inch (Late 2017) reviews</a>
                <div class="price">
                  <span >$550.00</span>
                </div>
              </div>
              <div class="group-button">
                <div class="inner">
                <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item layout1">
            <div class="product-inner equal-elem">
              <ul class="group-flash">
                <li><span class="sale flash">-50%</span></li>
              </ul>
              <div class="thumb">
                <!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
                <a href="detail.html" class="thumb-link"><img src="images/sell-product-1.png" alt=""></a>
              </div>
              <div class="info">
                <a href="detail.html" class="product-name">Best Accessories- SteelSeries NIMBUS Controlle</a>
                <div class="price">
                  <span class="del">$500.00</span>
                  <span class="ins">$250.00</span>
                </div>
              </div>
              <div class="group-button">
                <div class="inner">
                <a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
                <a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
                <a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>

  <div class="brand">
    <div class="container">
      <div class="owl-carousel" data-autoplay="false" data-nav="false" data-dots="false" data-loop="false" data-slidespeed="800" data-margin="30"  data-responsive = '{"0":{"items":2}, "480":{"items":2}, "640":{"items":3}, "1024":{"items":4}, "1200":{"items":5}}'>
        <div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
        <div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
        <div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
        <div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
        <div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
      </div>
    </div>
  </div>
</div>
