<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Add Product</h4>
            </div>
        </div>
        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                          <%=form_for([:admin, @product, @stock_item]) do |f|%>
                                <div class="form-body">
                                    <h3 class="box-title">Form Product</h3>
                                    <hr>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <%=f.label "Quantity", :class=>"control-label"%>
                                          <%=f.number_field :quantity, :class=>"form-control", :placeholder=>"Quantity"%>
                                        </div>
                                      </div>
                                        <!--/span-->

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Product Name", :class=>"control-label"%>
                                            <%=f.collection_select :product_id,Product.all,:id,:product_name, {}, {:class => 'form-control'}%>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Stock Location", :class=>"control-label"%>
                                            <%=f.collection_select :stock_location_id,StockLocation.all,:id,:name, {}, {:class => 'form-control'}%>
                                          </div>
                                        </div>

                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <div class="form-actions">
                                  <%=f.submit "Add", :class=>"btn btn-success" do%>
                                    <i class="fa fa-check"></i>
                                  <%end%>
                                  <%=link_to "Cancel", admin_products_path, :class=>"btn btn-default", :style=>"color:black"%>
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
