<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Stock</h4>
            </div>
        </div>
        <!-- Content -->
        <div class="row">
          <div class="col-md-4 col-lg-6 col-xs-12">
            <div class="white-box">
              <h3 class="box-title">Product Detail</h3>
              <ul class="basic-list">
                <%@stock_items.each do |stock|%>
                  <li>Product Name <span class="pull-right"><%=stock.product.product_name%></span></li>
                  <li>Quantity <span class="pull-right"><%=stock.product.count_on_hand?%></span></li>
                  <li>Stock Location <span class="pull-right"><%=link_to stock.stock_location.name, admin_stock_location_path(stock.stock_location.id)%></span></li>
                <%end%>
              </ul>
            </div>
          </div>
        </div>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
