<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title"><%=@product.product_name%></h4>
            </div>
        </div>

        <%=render "/layouts/flash"%>

        <!-- Content -->
      <%=form_for([:admin, @product, @stock_item]) do |f|%>
        <%=f.error_messages%>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                                <div class="form-body">
                                    <h3 class="box-title">Form Product</h3>
                                    <hr>
                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Quantity", :class=>"control-label"%>
                                            <%=f.number_field :quantity, :class=>"form-control", :placeholder=>"Quantity"%>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Stock Location", :class=>"control-label"%>
                                            <%=f.collection_select :stock_location_id,StockLocation.all,:id,:name, {}, {:class => 'form-control'}%>
                                          </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-lg-12 col-md-12 col-sm-4 col-xs-12">
                                          <ul class="list-group list-group-full">
                                            <li class="list-group-item">
                                              <span class="badge badge-success"><%=@product.count_on_hand?%></span> Count On Hand
                                            </li>
                                          </ul>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>


                                <div class="form-actions">
                                  <%=f.submit "Add", :class=>"btn btn-success" do%>
                                    <i class="fa fa-check"></i>
                                  <%end%>
                                  <%=link_to "Cancel", admin_products_path, :class=>"btn btn-default", :style=>"color:black"%>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <%end%>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                          <div class="p-20">
                            <h3 class="box-title">Add Another Field</h3>
                              <div class="list-group">
                                <%=link_to "Default",edit_admin_product_path(@product),:class=>"list-group-item", :style=>"border-radius:0px !important;color:black;"%>
                                <%=link_to "Image","#",:class=>"list-group-item", :style=>"border-radius:0px !important;color:black;"%>
                                <%=link_to "Stock",admin_product_stock_path(@product),:class=>"list-group-item", :style=>"border-radius:0px !important;color:black;"%>

                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
