<div class="main-content shop-page login-page">
  <div class="container">
    <div class="breadcrumbs">
      <a href="#">Home</a> \ <span class="current"> Login of greate an account</span>
    </div>
    <div class="login-register-form content-form row">
      <!-- Sign IN -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="register-form">

          <h4 class="main-title">Great an Account</h4>
          <h5 class="note-title">Registration</h5>
          <%=form_for @customer do |f|%>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <%= f.label :username ,:class=>"label-text"%>
              <%= f.text_field :username,:class=>"input-info" %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <%= f.label :email,:class=>"label-text" %>
              <%= f.text_field :email,:class=>"input-info" %>
            </div>
          </div>

          <%= f.label :password ,:class=>"label-text"%>
          <%= f.password_field :password,:class=>"input-info"%>

          <%= f.label :password_confirmation,:class=>"label-text"%>
          <%= f.password_field :password_confirmation,:class=>"input-info" %>

          <div class="group-button"><%=f.submit "Register", :class=>"btn submit"%></div>
          <%end%>
        </div>
      </div>
    </div>
  </div>

  <div class="brand">
    <div class="container">
      <div class="owl-carousel" data-autoplay="false" data-nav="false" data-dots="false" data-loop="false" data-slidespeed="800" data-margin="30"  data-responsive = '{"0":{"items":2}, "640":{"items":3}, "768":{"items":3}, "1024":{"items":4}, "1200":{"items":5}}'>
        <div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
        <div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
        <div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
        <div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
        <div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
      </div>
    </div>
  </div>
</div>
