<%name = [
  "shared/css/1-bootstrap-min",
  "shared/css/2-owl.carousel.min",
  "shared/css/3-font-awesome",
  "shared/css/4-animate.min",
  "shared/css/5-magnific-popup.min",
  "shared/css/6-jquery-ui.min",
  "shared/css/7-jquery.scrollbar",
  "shared/css/8-chosen.min",
  "shared/css/9-style",
  "shared/css/10-customs-css2"
  ]
%>

<%name.each do |n|%>
    <%=render "#{n}"%>
<%end%>
