<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Category</h4>
            </div>
        </div>
        <!-- Content -->
        <%=form_for [:admin, @category] do |f|%>
        <div class="col-sm-6">
            <div class="white-box">
                  <div data-toggle="validator">

                    <div class="form-group">
                      <%=f.label "Category Name", :class=>"control-label"%>
                      <%=f.text_field :category_name, :class=>"form-control", :placeholder=>"Category Name", :required=>true%>
                      <div class="help-block with-errors"></div>
                    </div>

                      <div class="form-group">
                          <%=f.submit :class=>"btn btn-success"%>
                          <%=link_to "Cancel", admin_categories_path, :class=>"btn btn-danger"%>
                      </div>
                  </div>
            </div>
        </div>
        <%end%>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
