<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">User</h4>
            </div>
        </div>
          <div class="row">

            <div class="col-md-6 col-lg-6 col-xs-12">
              <div class="white-box">
                <h3 class="box-title">Category Detail</h3>
                <ul class="basic-list">
                  <li>Category Name <span class="pull-right"><%=@category.category_name%></span></li>
                  <li>User <span class="pull-right"><%=@category.user.username%></span></li>
                  <li>Created_At <span class="pull-right"><%=@category.created_at%></span></li>
                  <li>Updated_At <span class="pull-right"><%=@category.updated_at%></span></li>
                </ul>
              </div>
            </div>

          </div>
          </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
      </div>
    <!-- /#page-wrapper -->
  </div>
</div>
