<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Edit Product</h4>
            </div>
        </div>
        <!-- Content -->
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">

                          <%=form_for([:admin, @product]) do |f|%>
                                <div class="form-body">
                                    <h3 class="box-title">Form Product</h3>
                                    <hr>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <%=f.label "Product", :class=>"control-label"%>
                                          <%=f.text_field :product_name, :class=>"form-control", :placeholder=>"Product Name"%>
                                        </div>
                                      </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "SKU", :class=>"control-label"%>
                                            <%=f.text_field :sku, :class=>"form-control", :placeholder=>"SKU"%>
                                          </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Master Price", :class=>"control-label"%>
                                            <%=f.text_field :master_price, :class=>"form-control", :placeholder=>"Master Price"%>
                                          </div>
                                        </div>


                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Product Name", :class=>"control-label"%>
                                            <%=f.collection_select :category_id,Category.all,:id,:category_name, {}, {:class => 'form-control'}%>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Availble On", :class=>"control-label"%>
                                            <%=f.text_field :available_on, :class=>"form-control", :placeholder=>"mm/dd/yyyy",:id=>"datetimepicker1"%>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Discount On", :class=>"control-label"%>
                                            <%=f.text_field :discount_on, :class=>"form-control", :placeholder=>"mm/dd/yyyy",:id=>"datetimepicker2"%>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Color", :class=>"control-label"%>
                                            <%=f.text_field :color, :class=>"form-control", :placeholder=>"Color"%>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%=f.label "Slug", :class=>"control-label"%>
                                            <%=f.text_field :slug, :class=>"form-control", :placeholder=>"Slug"%>
                                          </div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <%=f.label "Description", :class=>"control-label"%>
                                            <%=f.text_area :description, :class => 'form-control'%>
                                          </div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <%=f.label "Meta Description", :class=>"control-label"%>
                                            <%=f.text_area :meta_description, :class => 'form-control'%>
                                          </div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <%=f.label "Meta Keyword", :class=>"control-label"%>
                                            <%=f.text_area :meta_keyword, :class => 'form-control'%>
                                          </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <div class="form-actions">
                                  <%=f.submit "Save", :class=>"btn btn-success" do%>
                                    <i class="fa fa-check"></i>
                                  <%end%>
                                  <%=link_to "Cancel", admin_products_path, :class=>"btn btn-default", :style=>"color:black"%>
                                </div>
                            <%end%>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                          <div class="p-20">
                            <h3 class="box-title">Add Another Field</h3>
                              <div class="list-group">
                                <%=link_to "Default",edit_admin_product_path(@product),:class=>"list-group-item", :style=>"border-radius:0px !important;color:black;"%>
                                <%=link_to "Image","#",:class=>"list-group-item", :style=>"border-radius:0px !important;color:black;"%>
                                <%=link_to "Stock",admin_product_stock_path(@product),:class=>"list-group-item", :style=>"border-radius:0px !important;color:black;"%>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
