<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title"><%=@product.product_name%></h4>
            </div>
        </div>
          <div class="row">

            <div class="col-md-4 col-lg-6 col-xs-12">
              <div class="white-box">
                <h3 class="box-title">Product Detail</h3>
                <ul class="basic-list">
                  <li>Product Name <span class="pull-right"><%=@product.product_name%></span></li>
                  <li>SKU <span class="pull-right"><%=@product.sku%></span></li>
                  <li>Category <span class="pull-right"><%=@product.category.category_name%></span></li>
                  <li>Master Price<span class="pull-right"><%=@product.master_price%></span></li>
                  <li>Cost Price <span class="pull-right"><%=@product.cost_price%></span></li>
                </ul>
              </div>
            </div>

            <div class="col-md-4 col-lg-6 col-xs-12">
              <div class="white-box">
                <h3 class="box-title" style="color:white;">text</h3>
                <ul class="basic-list">
                  <li>Available On <span class="pull-right"><%=@product.available_on%></span></li>
                  <li>Discount On<span class="pull-right"><%=@product.discount_on%></span></li>
                  <li>Color <span class="pull-right"><%=@product.color%></span></li>
                  <li>Promotionable <span class="pull-right"><%=@product.promotionable%></span> </li>
                </ul>
              </div>
            </div>

            <div class="col-md-4 col-lg-6 col-xs-12">
              <div class="white-box">
                <h3 class="box-title" style="color:white;">text</h3>
                <ul class="basic-list">
                  <li>Meta Description <span class="pull-right"></span></li>
                  <li>Meta Keyword<span class="pull-right"></span></li>
                  <li>Slug <span class="pull-right"></li>
                  <li>Promotionable <span class="pull-right"></span> </li>
                </ul>
              </div>
            </div>

          </div>
          </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
      </div>
    <!-- /#page-wrapper -->
  </div>
</div>
