/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 // .flash-message {
 //   &.error {
 //    border: solid 4px #900;
 //    background-color: #FF6565;
 //   }
 //
 //   &.notice {
 //     border: solid 4px #26722D;
 //     background-color: #A4E7A0;
 //   }
 //
 //     color: black;
 //     z-index: 999;
 //     position: fixed;
 //     font-weight: bold;
 //     width: 96%;
 //     margin: 20px;
 //
 //   p {
 //     font-size: 110%;
 //     margin: 15px 0;
 //   }
 // }
.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.ul{
  list-style: none;
}

.error_messages{
  background: #f75b36;
  color: #fff;
  border-color: #00c292;
  text-decoration: none;
  padding: 15px;
  margin-bottom: 20px;
}
 .alert-success{
   background: #00c292;
   color: #fff;
   border-color: #00c292;
 }

  @import "bootstrap-sprockets";
  // @import "bootstrap";
  @import 'bootstrap-datetimepicker';
  @import "font-awesome";

  //Icon Color
.card-blue-flat{
  background: #8f8fbf !important;
}

.card-pink-flat{
  background: #ff8080 !important;
}

.card-green-flat{
  background: #00aa88 !important;
}

.card-lighred-flat{
  background: #ff5599 !important;
}

.card-purple-flat{
  background: #d35fbc !important;
}

.card-orange-flat{
  background: #ff9955 !important;
}

.card-strong-blue-flat{
  background: #8d5fd3 !important;
}
/* xs < 768 */
@media screen and (max-width: 768px) {
  .panhara-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    position: relative;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .panhara-card-title {
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
  }


}

/* sm */
@media screen and (min-width: 768px) {
  .panhara-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    position: relative;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .panhara-card-title {
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
  }

}

/*  MD */
@media screen and (min-width: 992px) {
  .mdl-textfield__label{
    font-family: Lato;
  }
  .panhara-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 150px;
    overflow: hidden;
    width: 260px;
    z-index: 1;
    position: relative;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .panhara-card-title {
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
  }

  .panhara-signup-card{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 150px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    position: relative;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .panhara-signup-button{
    // background: #ff8080;
    // border: none;
    // border-radius: 5px;
    margin-bottom: 20px;
    // padding: 10px 25px;
    // font-size: 14px;
    // font-weight: bold;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .panhara-checkbox-float-right{
    float: right;
    width: 70%;
  }

  .panhara-signup-title{
    font-size: 22px;
    margin-bottom: 0px;
  }

  .panhara-card-quote{

  }

  a.panhara-login-link{
    color: #ff4081;
  }

  .panhara-no-padding-left{
    padding-left: 0 !important;
  }

  .panhara-remeber-me{
    font-size: 14px;
  }

  .panha-card {
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
   display:block;
   position:relative;
   padding:0 15px;
   transition:transform 50ms 0s ease;
   -webkit-animation:card-fade-up 0.5s ease;
   -moz-animation:card-fade-up 0.5s ease;
   animation:card-fade-up 0.5s ease;
   margin-top: 20px;

  }


  .panha-card-box {
   position:relative;
   box-shadow:0 2px 0 rgba(0,0,0,0.06);
   border-radius:5px 5px 4px 4px;
   color:#b2bac2;
   display:block;
   min-height:310px;
   padding:88px 30px 30px;
  }

  .panha-card-box{
   background:#fff;
  }

  .panha-card-progress {
   position:absolute;
   top:0;
   right:0;
   left:0;
   border-radius:4px 4px 0 0;
   color:#fff;
   display:block;
   height:58px;
   line-height:58px;
   padding:0 30px;
   background-color:#717b85;
   transition:background-color 300ms 0s ease;
  }

  .panha-card-profile.panha-card-progress {
   background-color:#c25975;
  }

  .card-profile .panha-card-progress {
   background-color:#c25975;
  }


  .panha-card-progress-purple {
   position:absolute;
   top:0;
   right:0;
   left:0;
   border-radius:4px 4px 0 0;
   color:#fff;
   display:block;
   height:58px;
   line-height:58px;
   padding:0 30px;
   background-color:#717b85;
   transition:background-color 300ms 0s ease;
  }
  .card-profile-purple .panha-card-progress-purple {
   background-color:#7D669E;
  }

  .card-profile .panha-card-progress-purple {
   background-color:#c25975;
  }

  .panhara-card-estimate {
   color:#fff;
   font-size:14px;
   font-weight:500;
   position:absolute;
   top:0px;
   text-align:right;
   min-width:80px;
  }

  .panha-card-actions{
   list-style:none;
   display:block;
   position:absolute;
   bottom:30px;
   z-index:1;
   padding-left: 20px;
  }

  .panha-card-panel-left{
    float: left;
  }
  .panha-card-panel-right{
    float: right;
  }

  .panhara-pink-btn{
    background: #c25975;
    color: white;
  }

  .panhara-bar-icon{
    font-size: 18px;
  }


}


/* lg */
@media screen and (min-width: 1200px) {
  .mdl-textfield__label{
    font-family: Lato;
  }
  .panhara-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 150px;
    overflow: hidden;
    width: 260px;
    z-index: 1;
    position: relative;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .panhara-card-title {
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
  }

  .panhara-signup-card{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 150px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    position: relative;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .panhara-signup-button{
    // background: #ff8080;
    // border: none;
    // border-radius: 5px;
    margin-bottom: 20px;
    // padding: 10px 25px;
    // font-size: 14px;
    // font-weight: bold;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .panhara-checkbox-float-right{
    float: right;
    width: 70%;
  }

  .panhara-signup-title{
    font-size: 22px;
    margin-bottom: 0px;
  }

  .panhara-card-quote{

  }

  a.panhara-login-link{
    color: #ff4081;
  }

  .panhara-no-padding-left{
    padding-left: 0 !important;
  }

  .panhara-remeber-me{
    font-size: 14px;
  }

  .panha-card {
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
   display:block;
   position:relative;
   padding:0 15px;
   transition:transform 50ms 0s ease;
   -webkit-animation:card-fade-up 0.5s ease;
   -moz-animation:card-fade-up 0.5s ease;
   animation:card-fade-up 0.5s ease;
   margin-top: 20px;

  }


  .panha-card-box {
   position:relative;
   box-shadow:0 2px 0 rgba(0,0,0,0.06);
   border-radius:5px 5px 4px 4px;
   color:#b2bac2;
   display:block;
   min-height:310px;
   padding:88px 30px 30px;
  }

  .panha-card-box{
   background:#fff;
  }

  .panha-card-progress {
   position:absolute;
   top:0;
   right:0;
   left:0;
   border-radius:4px 4px 0 0;
   color:#fff;
   display:block;
   height:58px;
   line-height:58px;
   padding:0 30px;
   background-color:#717b85;
   transition:background-color 300ms 0s ease;
  }

  .panha-card-profile.panha-card-progress {
   background-color:#c25975;
  }

  .card-profile .panha-card-progress {
   background-color:#c25975;
  }


  .panha-card-progress-purple {
   position:absolute;
   top:0;
   right:0;
   left:0;
   border-radius:4px 4px 0 0;
   color:#fff;
   display:block;
   height:58px;
   line-height:58px;
   padding:0 30px;
   background-color:#717b85;
   transition:background-color 300ms 0s ease;
  }
  .card-profile-purple .panha-card-progress-purple {
   background-color:#7D669E;
  }

  .card-profile .panha-card-progress-purple {
   background-color:#c25975;
  }

  .panhara-card-estimate {
   color:#fff;
   font-size:14px;
   font-weight:500;
   position:absolute;
   top:0px;
   text-align:right;
   min-width:80px;
  }

  .panha-card-actions{
   list-style:none;
   display:block;
   position:absolute;
   bottom:30px;
   z-index:1;
   padding-left: 20px;
  }

  .panha-card-panel-left{
    float: left;
  }
  .panha-card-panel-right{
    float: right;
  }

  .panhara-pink-btn{
    background: #c25975;
    color: white;
  }

  .panhara-bar-icon{
    font-size: 18px;
  }
}

.panhara-shadow{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.panhara-card--expand {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.panhara-card-supporter-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  padding: 16px 16px;
  width: 90%;
}

.panhara-card-actions {
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
}

.panhara-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}

.panhara-signup-card{
  text-align: center;
}
