<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Dashboard</h4>
            </div>

        </div>
        <div class="row">
              <!-- .col -->
              <div class="col-md-7 col-sm-12 col-xs-12">
                <% 4.times do %>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="white-box m-b-15">
                        <h3 class="box-title">Tax Deduction</h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6  m-t-30">
                                <h1 class="text-info">$647</h1>
                                <p class="text-muted">APRIL 2016</p>
                                <b>(150 Sales)</b>
                            </div>

                        </div>
                    </div>
                  </div>
                <%end%>
              </div>

                    <!-- /.col -->
            <div class="col-md-5 col-sm-6">
                <div class="row">
                    <!-- .col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="white-box text-center bg-megna">
                            <h1 class="text-white counter">165</h1>
                            <p class="text-white">New items</p>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- .col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="white-box text-center bg-inverse">
                            <h1 class="text-white counter">2065</h1>
                            <p class="text-white">Feeds</p>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- .col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="white-box text-center bg-info">
                            <h1 class="counter text-white">465</h1>
                            <p class="text-white">Reviews</p>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- .col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="white-box text-center bg-danger">
                            <h1 class="text-white counter">6555</h1>
                            <p class="text-white">Customers</p>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- .col -->
                    <div class="col-md-12 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Revenue of the site</h3>
                            <ul class="list-inline two-part">
                                <li><i class="icon-folder-alt text-danger"></i></li>
                                <li class="text-right"><span class="counter">36411</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
      </div>
    <!-- /#page-wrapper -->
  </div>
</div>
