<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Users</h4>
            </div>
        </div>
        <!-- Content -->
        <%=form_for [:admin, @user] do |f|%>
        <%=f.error_messages%>
        <div class="col-sm-6">
            <div class="white-box">
                <h3 class="box-title m-b-0">Edit User</h3>
                <p class="text-muted m-b-30"> All Field Requried*</p>
                  <div data-toggle="validator">

                      <div class="form-group">
                        <label >Image Upload</label>
                          <%=f.file_field :image%>
                      </div>

                      <div class="form-group">
                          <%=f.label "Username", for:"inputName", :class=>"control-label"%>
                          <%=f.text_field :username, :class=>"form-control", :id=>"inputName", :placeholder=>"Username", :required=>true%>
                      </div>

                      <div class="form-group">
                        <%=f.label "Email", :class=>"control-label"%>
                        <%=f.text_field :email, :class=>"form-control", :id=>"inputEmail2", :placeholder=>"Email", :required=>true%>
                        <div class="help-block with-errors"></div>
                      </div>

                      <div class="form-group">
                        <%=f.label "Confirmation Password", :class=>"control-label"%>
                        <p>Leave it blank if you don't want to change password</p>
                        <%=f.password_field :current_password, :class=>"form-control", :placeholder=>"Confirmation Password"%>
                        <div class="help-block with-errors"></div>
                      </div>

                      <div class="form-group">
                        <%=f.label "Password", :class=>"control-label"%>
                        <p>Leave it blank if you don't want to change password</p>
                        <%=f.password_field :password, :class=>"form-control", :placeholder=>"Password"%>
                        <div class="help-block with-errors"></div>
                      </div>



                  </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="white-box">
                  <div data-toggle="validator">
                    <div class="form-group">
                      <%=f.label "Date Of Birth", :class=>"control-label"%>
                      <%=f.text_field :dateofbirth, :class=>"form-control", :placeholder=>"yyyy/dd/mm", :id=>"datetimepicker1"%>
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                      <%=f.label "Address", :class=>"control-label"%>
                      <%=f.text_field :address, :class=>"form-control", :placeholder=>"Address", :required=>true%>
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                      <%=f.label "Phone", :class=>"control-label"%>
                      <%=f.text_field :phone, :class=>"form-control", :placeholder=>"Phone", :required=>true%>
                      <div class="help-block with-errors"></div>
                    </div>

                      <div class="form-group">

                          <%=f.label "Position", for:"inputName", :class=>"control-label"%>
                          <%=f.text_field :position, :class=>"form-control", :id=>"inputName", :placeholder=>"Position", :required=>true%>
                      </div>
                      <div class="form-group">
                          <%=f.label "Description", :class=>"control-label"%>
                          <%=f.text_area :description, :class=>"form-control", :id=>"inputEmail2", :placeholder=>"Description", :required=>true%>
                          <div class="help-block with-errors"></div>
                      </div>


                      <div class="form-group">
                        <%=f.label "Select Role", :class=>"control-label"%>
                        <%= f.select :role,(User.roles.keys.map {|role| [role.titleize,role]}), {}, {class: 'form-control'} %>
                      </div>
                      <div class="form-group">
                          <%=f.submit :class=>"btn btn-success"%>
                          <%=link_to "Cancel", admin_users_path, :class=>"btn btn-danger"%>
                      </div>
                  </div>
            </div>
        </div>
        <%end%>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
