<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Users</h4>
            </div>
        </div>
        <!-- Content -->
        <div class="col-sm-12">
          <div class="white-box">
              <%if admin_user_signed_in?%>
                <%if current_admin_user.try(:admin?)%>
                  <%=link_to new_admin_user_path, :class=>"btn btn-success waves-effect waves-light" do%>
                      <span class="btn-label"><i class="fa fa-user"></i></span>Add User
                  <%end%>
                <%end%>
              <%end%>
              <h3 class="box-title"></h3>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <%@fields.each do |f|%>
                                <th><%=f%></th>
                              <%end%>
                          </tr>
                      </thead>
                      <tbody>
                        <%@users.each do |user|%>
                          <tr>
                                <td><%=user.id%></td>
                                <td><%=user.username%></td>
                                <td><%=user.email%></td>
                                <td><%=user.phone%></td>
                                <td><%=user.address%></td>
                                <td><%=user.dateofbirth%></td>
                                <td>
                                  <%if user.role == "admin"%>
                                    <span class="label label-danger"><%=user.role%></span>
                                  <%elsif user.role == "vip"%>
                                    <span class="label label-warning"><%=user.role%></span>
                                  <%else%>
                                    <span class="label label-info"><%=user.role%></span>
                                  <%end%>
                                </td>
                                <td class="text-nowrap">
                                  <%if current_admin_user.try(:admin?) || current_admin_user.try(:vip?)%>
                                    <%=link_to admin_user_path(user) do%>
                                      <i class="fa fa-eye text-inverse m-r-10"></i>
                                    <%end%>
                                    <%=link_to edit_admin_user_path(user) do%>
                                      <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    <%end%>
                                    <%=link_to  admin_user_path(user), method: :delete, data: { confirm: "Are You Sure ?"} do%>
                                      <i class="fa fa-close text-danger"></i>
                                    <%end%>
                                  <%else%>
                                    <%=link_to admin_user do%>
                                      <i class="fa fa-eye text-inverse m-r-10"></i>
                                    <%end%>
                                  <%end%>
                                </td>
                          </tr>
                          <%end%>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      </div>

        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
