<div id="wrapper">
    <!-- Navigation -->
    <%=render "shared/navigation"%>
    <!-- Left navbar-header -->
    <%=render "shared/leftsidebar"%>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 613px;">
      <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">User</h4>
            </div>
        </div>
          <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
              <div class="white-box">
                  <div class="user-bg">
                      <div class="overlay-box">
                          <div class="user-content">
                            <a href="javascript:void(0)"><img alt="img" class="thumb-lg img-circle" src="<%=@user.image%>"></a>
                            <h4 class="text-white"><%=@user.username.to_s.capitalize%></h4>
                            <h5 class="text-white"><%=@user.email%></h5>
                          </div>
                      </div>
                  </div>
                  <div class="user-btm-box">
                      <div class="stats-row col-md-12 m-t-20 m-b-0 text-center">
                          <div class="stat-item">
                              <h6>Contact info</h6> <b><i class="ti-mobile"></i> <%=@user.phone%></b></div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xs-12">
              <div class="white-box">
                <h3 class="box-title">User Detail</h3>
                <ul class="basic-list">
                  <li>Username <span class="pull-right"><%=@user.username.to_s.capitalize%></span></li>
                  <li>Email <span class="pull-right"><%=@user.email%></span></li>
                  <li>Address <span class="pull-right"><%=@user.address%></span></li>
                  <li>Phone <span class="pull-right"><%=@user.phone%></span></li>
                  <li>DOB <span class="pull-right"><%=@user.dateofbirth%></span></li>
                  <li>Position <span class="pull-right"><%=@user.position%></span></li>
                  <li>Description <span class="pull-right"><%=@user.description%></span></li>
                </ul>
              </div>
            </div>

          </div>
          </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center">Panhara &copy; Copyright </footer>
      </div>
    <!-- /#page-wrapper -->
  </div>
</div>
