<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrator</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'new_application', media: 'all'%>
    <%=javascript_include_tag 'new_application'%>
    <%=render "/shared/css/style-partial"%>
  </head>

  <body class="">
    <%= yield %>
    <%=render "/shared/js/js-partial"%>

  </body>
</html>
